In [2]:
import os
import cx_Oracle
import pandas as pd

def connect():
    try:
        connection = cx_Oracle.connect("SYSTEM", "oirad1993", "localhost:1521/XEPDB1")
        return connection
    except cx_Oracle.DatabaseError as e:
        print("Errore di connessione al database: ", e)
        exit(1)

def disconnect(connection):
    try:
        connection.close()
    except cx_Oracle.DatabaseError as e:
        print("Errore di disconnessione al database: ", e)
        exit(1)

def query(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT AE.TIPOPRODOTTO, TO_CHAR(AE.DATAPRODUZIONE, 'YYYY') AS ANNOPRODUZIONE, SUM(DBMS_LOB.GETLENGTH(AE.MANUALEUTENTE)) AS DIMENSIONETOTALEMANUALI FROM APPARECCHIATUREELETTRONICHE AE GROUP BY AE.TIPOPRODOTTO, TO_CHAR(AE.DATAPRODUZIONE, 'YYYY')")
        return cursor
    except cx_Oracle.DatabaseError as e:
        print("Errore di esecuzione della query: ", e)
        exit(1)

#codice
connection = connect()
cursor = query(connection)
df = pd.DataFrame(cursor, columns=['TIPOPRODOTTO', 'ANNOPRODUZIONE', 'DIMENSIONETOTALEMANUALI'])
print(df)
disconnect(connection)

   TIPOPRODOTTO ANNOPRODUZIONE  DIMENSIONETOTALEMANUALI
0      behavior           2020                     2228
1       concern           2017                     1967
2         build           2015                     1697
3           but           2021                     1973
4         where           2016                     2149
5    investment           2021                     2082
6          else           2020                     2249
7          send           2018                     2121
8          long           2023                     1546
9         agree           2017                     1987
10     official           2018                     2552
11      brother           2018                     1689
12          sit           2019                     2542
13        right           2021                     2323
14        these           2016                     4407
15         sort           2021                     1525
16        since           2021                     2674
17         sure           2017                     1422
18        agree           2018                     1181
19     national           2021                     2206
20      station           2018                     2098
21       market           2018                     2225
22    newspaper           2015                     2080
23         high           2018                     2040
24        maybe           2016                     1370
25      produce           2015                     1936
26        ahead           2017                     2389
27      someone           2021                     1523
28    religious           2022                     2123
29            a           2014                     1679
30         year           2018                     1853
31         card           2014                     2292
32        phone           2018                     2008
33     material           2015                     1823
34         song           2015                     1650
35          fly           2015                     1552
36          see           2021                     2118
37        house           2018                     2153
38           up           2020                     1861
39          its           2018                     2041
40       ground           2016                     2668
41        price           2023                     1183
42          him           2017                     2158
43     material           2022                     1683
44         risk           2019                     1802
45        final           2017                     1924
46        place           2023                     2056
47          let           2018                     2118
48       single           2019                     2271